@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

/* font-family: 'Sanchez', serif; */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  background-color: #EFEFEF ;
  height: auto;
}

*:focus {
  outline: none;
}

button {
  display: inline-block;
  padding: 0.9em 1.4em;
  margin: 0 0.3em 0.3em 10;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #845ec2;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

button:active {
  top: 0.1em;
}

header p.header-title {
  position: relative;
  left: 10%;
  font-size: 40px;
  color: white;
  font-family: "Love Ya Like A Sister", cursive;
  width: 350px;
  float: left;
}

.container-fluid {
  background-color: #ffc75f;
}

.form {
  height: 400px;
  background-color: #ffc75f;
}

.header {
  background-color: #ffc75f;
  overflow: hidden;
  padding: 20px;
  border-bottom: 3px solid #e7b355;
  border-image-slice: 1;
}

.logos {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.robotlogo {
  position: relative;
  top: 30px;
  left: 100%;
  width: 220px;
  height: 220px;
}

.splashlogo {
  position: absolute;
  top: 10px;
  left: 80%;
  width: 250px;
  height: 210px;
}

.header-right {
  float: right;
}

.header-user {
  position: relative;
  font-size: 30px;
  font-family: 'Sanchez', serif;
  right: 25px;
  color: white;
  border: 5px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background-color: #845ec2;
}

.title {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 5rem;
  font-size: 60px;
  color: white;
  font-family: "Love Ya Like A Sister", cursive;
}

.span-get-started {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 30px;
  color: white;
  font-family: "Love Ya Like A Sister", cursive;
}

.username-input {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  float: left;

  padding: 10px;
  width: 20%;
  border: 5px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.input {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.form-translate {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  top: 100px;
}

.translate-input {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  float: left;

  padding: 10px;
  width: 30%;
  border: 5px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.translations-container {
  position: relative;
  background-color: white;
  top: 200px;
  left: 20%;
  width: 58%;
  height: auto;
  overflow: auto;
  border: 5px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 50px;
  
}

.profile-container {
  background-color: #ffc75f;
  height: auto;
  min-height: 600px;
}

.profile-form {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 20px;
}

.btn-profile {
  position: relative;
  top: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.profile-title {
  position: relative;
  top: 20px;
  font-family: 'Sanchez', serif;
  text-align: center;
  font-size: 30px;
  color: white;
}

li {
  list-style-type: decimal;
  color: white;
  margin-top: 10px;
  font-family: 'Sanchez', serif;
}



